html,
body {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background: black;
}

.pieSVG{
    position:absolute;
    right: 20px;
    bottom: 5px;
}
.barSVG{
    position:absolute;
    right: 20px;
    top: 5px;
}

.mapSvg {
    position: absolute;
    background: transparent;
}

.country:hover {
    fill: #3B9AD9;
    stroke-width: 1.5px;
}

.country {
    fill: #374459;
    stroke: #EAE1D4;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: 30px;
    padding: 8px;
    font: 11px sans-serif;
    background: #ffffff;
    border: solid 1px #0000ff;
    border-radius: 8px;
    pointer-events: none;
}
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
text{
    fill: white;
}
