html,
body {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background: black;
}

.mapSvg {
    position: absolute;
    background: black;
}

.country:hover {
    fill: #3B9AD9;
    stroke-width: 1.5px;
}

.country {
    fill: #374459;
    stroke: #EAE1D4;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
}